.card {
  border: 2px solid black;
  border-radius: 20px;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Expanded 2x2 behavior in grid layout */
.expanded {
  grid-column: span 2;
  grid-row: span 2;
}

/* Layout for top half */
.topRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.5rem;
}

.info {
  flex: 2;
}

.dTableWrapper {
  flex: 1;
  align-self: flex-start;
}

/* Table styling */
.dTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}

.dTable th,
.dTable td {
  padding: 0.5rem 1rem;
  text-align: left;
}

.dTable thead {
  background-color: lightgrey;
}

.dTable tbody {
  background-color: #f0f0f0;
}

/* Image section */
.imageWrapper {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.image {
  /* max-height: 250px; */
  max-width: 100%;
  object-fit: contain;
  display: inline-block;
}

/* Expand button */
.expandIcon {
  align-self: flex-end;
  cursor: pointer;
}
